<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-8">
  <%= content_tag :h2, t('.title'), class: "text-2xl font-bold mb-6 text-center text-gray-800" %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 font-medium mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-sky-500", placeholder: "abcdefg@betterthan.com" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 font-medium mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-sky-500", placeholder: "パスワードを入力" %>
    </div>

    <div class="mb-6">
      <%= f.submit t('.sign_in'), class: "w-full bg-[#FF9800] text-white py-3 px-4 rounded-md shadow hover:bg-[#F57C00] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#FF9800] transition-colors" %>
    </div>
  <% end %>

  <div class="text-center mt-4 mb-4">
    <%= link_to t('.to_sign_up'), new_registration_path(resource_name), class: "text-sm text-gray-700 hover:text-sky-700" %>
  </div>
</div>
